# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Nmap scan results
Nmap/results/*.txt
Nmap/results/*.json

# Ignore OpenVAS scan results
OpenVAS/results/*.xml
OpenVAS/results/*.json